/*!
 * Overwite Bootstrap theming
 */


 /* BODY */
 body{font-family: 'Rubik', sans-serif; color:#000000; font-weight:300;font-size:16px; padding-top:150px;}
 .row{min-height:35px;}

 /* NAV*/
 .navbar{padding: 2rem 1rem 0.5rem;}
 .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

 .logo{width:100px; height:auto;}

 .bg-light {
    background-color: #FFFFFF !important;
}

.nav-item {
    padding: 0.5rem;
}

.nav-link {
   padding: 0.2rem;
}




/* Typos */

b, strong {
    font-weight: 700;
}

h1{
	font-size: 55px;
	font-weight:300;
}

h1 b, h1 strong{
	color:#008CFF;
}



/* bootstrap components complements */
.alert-title, .alert a{font-size:14px;color:#008CFF; text-decoration: none;}
.alert p{font-weight: 300; }
.alert-footer{margin-bottom:0px;}
.alert-footer:before{
    content: "";
    height: 2px;
    width: calc(100% + 32px);
    background-color: #FFFFFF;
    display: block;
    position: relative;
    top: -15px;
    left: -16px;
}

.form-control-2 + .input-group-addon {
  position: absolute;
    right: 0;
}

.icon-btn{padding: 4px 8px!important;
    margin-left: 5px;
    border-radius: 5px;}

.icon-btn:hover .stroke-transparent{-webkit-text-stroke: 1px #008CFF;}

.fa-file-alt {
  color: white;
  font-size: 1.5em;
}

.stroke-transparent {
    -webkit-text-stroke: 1px white;
    font-weight: 300;
    -webkit-text-fill-color: transparent;
}

.qr-code{max-width:255px; height:auto;}


.custom-select {
    background-image: url("../img/custom-caret.jpg")!important;
    background-repeat:no-repeat!important;
    background-position:center right!important;
}






/* PROPER CSS */

/*home*/

.main-title-box .bajada{font-size: 32px; margin-top: -15px;}
.number, .step{display:inline-block;}
.number{font-weight: 700; color:#008CFF; font-size:90px;}
.step{font-size:24px; line-height: 28px;}
.step b, .step strong{display:block;}
#start p{padding-right:55px;}

/*footer*/

footer, footer a, footer p{color:#FFFFFF; font-size:14px;}
footer a{ display:block; font-size: 16px;}
footer a:hover{color:#FFFFFF; text-decoration: none;font-weight:500;}
footer p{line-height: 22px;}
footer p, footer a{ margin-bottom: 0.2rem;}
footer .footer-top{background:#008CFF; padding:50px 0;}
footer .footer-top .col-lg-4   {padding-right: 80px;}
footer::before {
    content: '';
    width: 100%;
    height: 200px;
    background: url(../img/blue_shape.png);
    background-position: center top;
    background-repeat:no-repeat;
    background-size: cover;
    display:block;
        position: relative;
    top: 125px;
}
.powered_by {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}

.footer-title{font-weight: 700; font-size:16px;display:block;}

footer .form-control-reverse{color: #FFFFFF;
    font-size: 14px;}
footer .form-control-reverse::-webkit-input-placeholder{font-size:14px;}
footer .form-control-reverse:-ms-input-placeholder {font-size:14px;}
footer .form-control-reverse::placeholder {font-size:14px;}

.custom-mt-1{margin-top: 21px;}
.custom-mt-2 {margin-top: 5px;}


@media (min-width: 1900px) {
  footer::before {
    top: 60px;
}
}



